<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Log directory -->
    <property name="LOG_DIR" value="C:/logs"/>

    <!-- Main application log -->
    <appender name="FILE_APP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/ait-isfoul.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_DIR}/ait-isfoul.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%-10thread][%-30logger{1}] %d{dd/MM/yy HH:mm:ss.SSS} %-5level : %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- Hibernate log -->
    <appender name="HIBERNATE_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/ait-isfoul-hibernate.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/ait-isfoul-hibernate.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%-10thread][%-30logger{1}] %d{dd/MM/yy HH:mm:ss.SSS} %-5level : %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- Application loggers -->
    <logger name="com.aitIsfoul" level="TRACE" additivity="false">
        <appender-ref ref="FILE_APP"/>
    </logger>

    <!-- Hibernate loggers -->
    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <logger name="org.hibernate.type" level="TRACE"/>
    <logger name="org.hibernate" level="TRACE" additivity="false">
        <appender-ref ref="HIBERNATE_FILE"/>
    </logger>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="FILE_APP"/>
    </root>

</configuration>
